@use 'abstracts/variables';
@use 'base/reset';
@use 'base/typography';
@use 'layout/grid';
@use 'layout/footer';
@use 'components/header';
@use 'components/sections';
@use 'components/hero';
@use 'components/skills';
@use 'components/projects';
@use 'components/form';
@use 'components/aside';
@use 'pages/home';
@use 'themes/dark';
@use 'vendors/placeholder';

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--color-bg); }
::-webkit-scrollbar-thumb { background: var(--color-primary); border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: var(--color-primary-dark); }